*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: black;
}
.box{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-right: 2px;
    height: 50px;
    width: 100%;
    background-image:  linear-gradient(rgb(6, 255, 6),rgb(5, 255, 172));
}

#title{

    font-size: large;
    font-family: 'Rubik Iso', cursive;
    color: navy;
 
}

.title-container{

    margin-left: 35%;
}


.item > a{
        
    padding-left: 20px;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: medium;
    color: black;
    width: 5rem;
    
}

.card{
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: black;
    gap: 20px;
    flex-wrap: wrap;
}
.card > img{
        width: fit-content;
        height: 20vh;
      
}

.card > div > h4{
    color: white;
    font-size: medium;
}

.card > div > h2{

    color: white;
    
}

.card > div {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    flex-direction: column;
    gap: 20px;
}
.card > p{
   
    color: white;
    font-size: medium;
   
}

.body{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    background-color: black;
}


.btn-a{
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  width: 5rem;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: groove;
  border-color: blueviolet;
  border-radius: 10%;
  background-image: linear-gradient(rgb(6, 255, 6),rgb(5, 255, 172));
}

.btn-a:hover{
  background: linear-gradient(#073,#0fa);
}


footer{

 margin-top: 100px;
  text-align: end;
  color:rgb(255, 217, 0);
 
}


iframe{
    width: fit-content;
    height: fit-content;
}


@media screen and (min-width : 800px) {
   
    .card{
        display: flex;
        width: 100%;
        height: 70vh;
        background-color: black;
        gap: 20px;
        flex-wrap: wrap;
    }
    .card > img{
            width: fit-content;
            height: 40vh;
          
    }
    
    .card > div > h4{
        color: white;
        font-size: larger;
    }
    
    .card > div > h2{
    
        color: white;
        font: larger;
        
    }
    
    .card > div {
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        flex-direction: column;
        gap: 20px;
    }
    .card > p{
       
        color: white;
        font-size: larger;
       
    }
    iframe{
       
        padding-right: 100px;
        width: 100%;
        height: 30vh;
    }
}


