*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: black;
}
.box{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-right: 2px;
    height: 50px;
    width: 100%;
    background-image:  linear-gradient(rgb(6, 255, 6),rgb(5, 255, 172));
}

#title{

    font-size: large;
    font-family: 'Rubik Iso', cursive;
    color: navy;
 
}

.title-container{

    margin-left: 35%;
}

.item > a{
        
    padding-left: 20px;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: medium;
    color: black;
    width: 5rem;
    
}

.body{

    display: flex;
    gap: 50px;
    padding-top: 100px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    height: fit-content;
    width: 100%;
}

.content{

    height: 20vh;
    border-radius: 15%;
    background-color: #FFFFDD;
    
}

hr{
    border-style: solid;
    border-color: brown;
}

img{


    height: 100%;
    width: 100%;
    object-fit: cover;
}


.content > a{

    text-align: center;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 0, 0);
}

@media screen and (max-width : 800px) {
    .content{
        height: 12vh;
    }
    .body{
        justify-content: flex-start;
        gap: 30px;
    }
}
